.event-carousel {
    display: flex;

    .prev-btn,
    .next-btn {
        cursor: pointer;
        width: 4%;
        height: 20%;
        font-size: 1rem;
        background: none;
        border: 1px solid black;
        border-radius: 20px;
        margin-top: 140px;
    }

    .prev-btn:hover,
    .next-btn:hover {
        background-color: aquamarine;
    }

    .carousel-content {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .event-item {
        width: 32%;
        padding: 1rem;

        img {
            max-width: 100%;
        }

        .event-details {
            display: flex;
            gap: 1rem;

            .date {
                width: 20%;

                h5 {
                    font-size: 0.75rem;
                }
            }

            .details {
                h5 {
                    font-size: 0.75rem;
                    margin-bottom: 0.5rem;
                    font-weight: bold;
                }

                p {
                    font-size: 0.75rem;
                    margin-bottom: 0.25rem;
                }

                h3 {
                    font-weight: bold;

                    .fa-star {
                        color: gray;
                    }

                    .filled {
                        color: gold;
                    }
                }

            }
        }
    }
}