
// Contact Page
.contact-block{
    display: flex;
    margin: auto;
    color: white;
    border-radius: 30px;
    padding: 50px;
    background: linear-gradient(to right, #FFB300, #FF5722, #B72017);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    
}


.member-card {
    color: white;
    text-align: center;
    background: linear-gradient(to right, #FFB300, #FF5722, #B72017);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    padding: 10px;
    border-radius:1rem ;
}
