// Contact Page
.contact-block {
    display: flex;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 30px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

}


.member-card {
    color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    padding: 10px;
    border-radius: 1rem;
}

